In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\GOPI\Downloads\all_grains_data.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34883 entries, 0 to 34882
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     34883 non-null  object
 1   commodity  34883 non-null  object
 2   date       34883 non-null  object
 3   open       34883 non-null  float64
 4   high       34883 non-null  float64
 5   low        34883 non-null  float64
 6   close      34883 non-null  float64
 7   volume     34883 non-null  int64
dtypes: float64(4), int64(1), object(3)
memory usage: 2.1+ MB

In [5]:
data.head()

  ticker commodity        date    open    high     low   close  volume
0   ZC=F      Corn  2000-07-17  182.25  182.25  178.25  179.25   19385
1   ZC=F      Corn  2000-07-18  179.00  183.25  179.00  180.75   25205
2   ZC=F      Corn  2000-07-19  180.00  182.75  178.75  182.00   17126
3   ZC=F      Corn  2000-07-20  181.50  187.00  181.00  186.00   18742
4   ZC=F      Corn  2000-07-21  185.50  188.00  185.00  187.75   16814

In [73]:
#1.Which commodity was having the highest opening price for the day.
g=data.groupby("commodity")

In [77]:
g[["open","date"]].max()

                 open        date
commodity
Corn           830.25  2023-09-15
KC HRW Wheat  1370.50  2023-09-15
Oat            803.00  2023-09-15
Rough Rice    2435.00  2023-09-15
Soybean       1778.50  2023-09-15
Soybean Oil     90.50  2023-09-15

In [79]:
#2 Which commodity price reached  maximum during the trading session.
g[["open","close"]].max()

                 open        close
commodity
Corn           830.25   831.250000
KC HRW Wheat  1370.50  1367.750000
Oat            803.00   807.000000
Rough Rice    2435.00  2446.000000
Soybean       1778.50  1771.000000
Soybean Oil     90.50    90.599998

In [82]:
data.loc[data["commodity"]=="corn",["open","close"]].max()

open    NaN
close   NaN
dtype: float64

In [81]:
data.loc[data["commodity"]=="Oat",["open","close"]].max()

open     803.0
close    807.0
dtype: float64

In [60]:
data.loc[data["commodity"]=="KC HRW Wheat",["open","close"]].max()

open     1370.50
close    1367.75
dtype: float64

In [61]:
data.loc[data["commodity"]=="Rough Rice",["open","close"]].max()

open     2435.0
close    2446.0
dtype: float64

In [62]:
data.loc[data["commodity"]=="Soybean Oil",["open","close"]].max()

open     90.500000
close    90.599998
dtype: float64

In [63]:
data.loc[data["commodity"]=="Soybean",["open","close"]].max()

open     1778.5
close    1771.0
dtype: float64

In [57]:
#3.What is the average Market's opening price for the Oat in 2010
data.loc[data["commodity"]=="Oat","open"].mean()

278.8970206131994

In [84]:
g=data.groupby("commodity")

In [85]:
g["open"].mean()

commodity
Corn             409.282059
KC HRW Wheat     563.985475
Oat              278.897021
Rough Rice      1143.643069
Soybean          997.618605
Soybean Oil       36.837337
Name: open, dtype: float64

In [56]:
#4.What is the maximum and minimum Number of contracts traded during the 2009 
data.loc[data["open"]==data["date"].max()].max()

ticker       NaN
commodity    NaN
date         NaN
open         NaN
high         NaN
low          NaN
close        NaN
volume       NaN
dtype: object

In [86]:
g=data.groupby("ticker")

In [94]:
g["date"==pd.date_range("1-1-2009","1-1-2010",freq="d")].max()

KeyError: 'Columns not found: False'

In [88]:
g["date"].min()

ticker
KE=F    2000-09-21
ZC=F    2000-07-17
ZL=F    2000-03-15
ZO=F    2000-01-03
ZR=F    2000-01-03
ZS=F    2000-09-15
Name: date, dtype: object

In [31]:
data.loc[data["open"]==data["date"]].min()

ticker       NaN
commodity    NaN
date         NaN
open         NaN
high         NaN
low          NaN
close        NaN
volume       NaN
dtype: object

In [51]:
#5. Which year have  maximum and minimum Number of contracts traded
data.loc[data["date"]==data["open"],["date"]].max()

date    NaN
dtype: object

In [52]:
data.loc[data["date"]==data["open"],["date"]].min()

date    NaN
dtype: object

In [89]:
g=data.groupby("ticker")

In [99]:
g["ticker"].count()

ticker
KE=F    5783
ZC=F    5794
ZL=F    5810
ZO=F    5773
ZR=F    5937
ZS=F    5786
Name: ticker, dtype: int64

In [97]:
(g["ticker"].count()).max()

5937

In [98]:
(g["ticker"].count()).min()

5773

In [101]:
#6.Which commodity have the average lowest opening price around 2001 to 2005 
g=data.groupby("commodity")

In [102]:
g["open"].mean()

commodity
Corn             409.282059
KC HRW Wheat     563.985475
Oat              278.897021
Rough Rice      1143.643069
Soybean          997.618605
Soybean Oil       36.837337
Name: open, dtype: float64

In [104]:
(g["open"].mean()).min()

36.8373373422278

In [105]:
#7.Which commodity have the best average  Market's closing price
g=data.groupby("commodity")

In [106]:
g["close"].mean()

commodity
Corn             409.404772
KC HRW Wheat     563.693282
Oat              278.657674
Rough Rice      1143.607925
Soybean          998.015728
Soybean Oil       36.820361
Name: close, dtype: float64

In [107]:
(g["close"].mean()).max()

1143.607924888165

In [42]:
#8.Which year corn have the highest and lowest Number of contracts traded
data.loc[data["high"]==data["high"].max(),["date","high"]]

             date    high
19437  2008-04-24  2468.5

In [43]:
data.loc[data["low"]==data["low"].max(),["date","low"]]

             date     low
19436  2008-04-23  2400.0