In [3]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv(r"C:\Users\GOPI\Downloads\cleaned_all_phones.csv")

In [5]:
data.head()

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.0,720x1280,2200,Li-Po,2,2016-09-01,140.0,...,False,False,False,True,False,False,False,False,False,120.0
1,K20 plus,LG,Android 7.0,5.3,720x1280,2700,Li-Ion,2,2016-12-01,140.0,...,True,False,False,True,False,False,False,False,False,100.0
2,P8 Lite (2017),Huawei,Android 7.0,5.2,1080x1920,3000,Li-Ion,4,2017-01-01,147.0,...,True,False,False,True,False,False,False,False,False,420.0
3,Redmi Note 4,Xiaomi,Android 6.0,5.5,1080x1920,4100,Li-Po,4,2017-01-01,165.0,...,True,False,False,True,False,True,False,False,False,150.0
4,P10,Huawei,Android 7.0,5.1,1080x1920,3200,Li-Ion,4,2017-02-01,145.0,...,True,True,False,True,True,False,False,False,False,420.0

In [6]:
data.shape

(1512, 22)

In [7]:
datac=data.copy

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phone_name         1512 non-null   object
 1   brand              1512 non-null   object
 2   os                 1512 non-null   object
 3   inches             1512 non-null   float64
 4   resolution         1512 non-null   object
 5   battery            1512 non-null   int64
 6   battery_type       1512 non-null   object
 7   ram(GB)            1512 non-null   int64
 8   announcement_date  1512 non-null   object
 9   weight(g)          1512 non-null   float64
 10  storage(GB)        1512 non-null   int64
 11  video_720p         1512 non-null   bool
 12  video_1080p        1512 non-null   bool
 13  video_4K           1512 non-null   bool
 14  video_8K           1512 non-null   bool
 15  video_30fps        1512 non-null   bool
 16  video_60fps        1512 non-null   bool
 17  video_120fps       1512 non-null   bool
 18  video_240fps       1512 non-null   bool
 19  video_480fps       1512 non-null   bool
 20  video_960fps       1512 non-null   bool
 21  price(USD)         1512 non-null   float64
dtypes: bool(10), float64(3), int64(3), object(6)
memory usage: 156.6+ KB

In [9]:
data.describe()

,inches,battery,ram(GB),weight(g),storage(GB),price(USD)
count,1512.000000,1512.000000,1512.000000,1512.000000,1512.000000,1512.000000
mean,6.422460,4389.798942,6.683862,187.636243,109.164683,337.847036
std,0.477043,784.607022,2.701433,26.200115,74.436484,266.740821
min,3.800000,1821.000000,1.000000,130.000000,1.000000,40.000000
25%,6.300000,4000.000000,4.000000,175.000000,64.000000,179.997500
50%,6.500000,4500.000000,8.000000,187.000000,128.000000,260.000000
75%,6.670000,5000.000000,8.000000,197.250000,128.000000,400.000000
max,10.400000,7250.000000,24.000000,500.000000,512.000000,2300.000000

In [10]:
#1. how many unique mobile brands are there
data["brand"].unique()

array(['Huawei', 'LG', 'Xiaomi', 'Sony', 'Oppo', 'Samsung', 'Lenovo',
       'Apple', 'Google', 'Honor', 'Realme', 'OnePlus', 'Vivo'],
      dtype=object)

In [11]:
data.groupby("phone_name").min()

,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),storage(GB),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
phone_name,,,,,,,,,,,,,,,,,,,,,
1,Realme,Android 8.1,6.00,1080x2160,3410,Li-Ion,6,2018-05-01,155.0,32,...,True,False,False,True,False,False,False,False,False,130.000
10,Honor,Android 12,5.84,1080x2280,3400,Li-Po,8,2018-05-01,153.0,64,...,True,False,False,True,False,False,False,False,False,139.800
10 5G,Realme,Android 12,6.60,1080x2408,5000,Li-Po,8,2022-11-11,191.0,128,...,True,False,False,True,False,False,False,False,False,180.000
10 Lite,Honor,Android 9.0,6.21,1080x2340,3400,Li-Po,6,2018-11-01,162.0,32,...,True,False,False,False,True,False,False,False,False,180.000
10 Pro,OnePlus,Android 12,6.70,1080x2400,5000,Li-Po,8,2022-01-11,190.0,128,...,True,False,False,True,False,False,False,False,False,187.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
vivo iQOO Z7 (China),Vivo,Android 13,6.64,1080x2388,5000,Li-Po,8,2023-03-20,201.0,128,...,True,True,False,True,False,False,False,False,False,130.000
vivo iQOO Z7 Pro,Vivo,Android 13,6.78,1080x2400,4600,Li-Po,8,2023-08-31,175.0,128,...,True,True,False,True,False,False,False,False,False,287.988
vivo iQOO Z7i,Vivo,Android 13,6.51,720x1600,5000,Li-Po,8,2023-03-13,186.0,128,...,True,False,False,True,False,False,False,False,False,380.000
vivo iQOO Z7s,Vivo,Android 13,6.38,1080x2400,4500,Li-Po,8,2023-05-22,172.0,128,...,True,False,False,True,False,False,False,False,False,210.000
vivo iQOO Z7x,Vivo,Android 13,6.64,1080x2388,6000,Li-Po,8,2023-03-20,205.0,128,...,True,False,False,True,False,False,False,False,False,440.000

In [13]:
data["phone_name"].unique()

array(['Y6II Compact', 'K20 plus', 'P8 Lite (2017)', ..., 'GT5',
       'GT5 240W', 'vivo iQOO Z7 Pro'], dtype=object)

In [14]:
data.agg(func=["min","max"])

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
min,1,Apple,Android,3.8,1080x1920,1821,Li-Ion,1,2016-09-01,130.0,...,False,False,False,False,False,False,False,False,False,40.0
max,vivo iQOO Z7x,Xiaomi,iOS 16,10.4,900x1600,7250,Li-Po,24,2023-08-31,500.0,...,True,True,True,True,True,True,True,True,True,2300.0

In [15]:
#2. what is the average RAM in all the mobiles
data["ram(GB)"].mean()

6.6838624338624335

In [16]:
#3. which phone name is having the max battery
data.loc[data["battery"]==data["battery"].max(),["phone_name","battery"]]

    phone_name  battery
573         V6     7250

In [19]:
#4. which phone name is having the min battery
data.loc[data["battery"]==data["battery"].min(),["phone_name","battery"]]

           phone_name  battery
62           iPhone 8     1821
536  iPhone SE (2020)     1821

In [40]:
#5. what is the max battery given by Huawei
data.loc[((data["brand"]=="Huawei") & (data["battery"]==data["battery"])),["battery"]].max()

battery    7000
dtype: int64

In [20]:
#6. which ph brand has the min RAM
data.loc[data["ram(GB)"]==data["ram(GB)"].min(),["brand","ram(GB)"]]

       brand  ram(GB)
27    Huawei        1
28   Samsung        1
69   Samsung        1
133   Huawei        1
182  Samsung        1
230  Samsung        1
236   Huawei        1
244   Xiaomi        1
304  Samsung        1
363       LG        1
550  Samsung        1

In [21]:
#7. which is the oldest phone anounced also with dates of anouncements
data.loc[data["announcement_date"]==data["announcement_date"].min(),["phone_name","announcement_date"]]

     phone_name announcement_date
0  Y6II Compact        2016-09-01

In [22]:
#8. how many phones has android 7.0 as their operating system
data.loc[data["os"]=="Android 7.0",["phone_name"]].count()

phone_name    33
dtype: int64

In [41]:
#9. which brand is having least no of phones produced 
data.loc[data["phone_name"]==data["phone_name"].count(),["phone_name"]]

Empty DataFrame
Columns: [phone_name]
Index: []

In [63]:
data["brand"].value_counts()

Xiaomi     264
Oppo       213
Samsung    206
Vivo       168
Realme     157
Huawei     137
Honor      124
LG          75
OnePlus     47
Lenovo      43
Sony        37
Apple       22
Google      19
Name: brand, dtype: int64

In [25]:
#10 Give me phone name and brand name having the costliest phone
data.loc[data["price(USD)"]==data["price(USD)"].max(),["phone_name","brand","price(USD)"]]

    phone_name   brand  price(USD)
777     P40 4G  Huawei      2300.0

In [26]:
#11.Give me phone name and brand name having the chepest phone
data.loc[data["price(USD)"]==data["price(USD)"].min(),["phone_name","brand","price(USD)"]]

    phone_name   brand  price(USD)
452        C2s  Realme        40.0

In [29]:
#12. how many phones supports  (i)4k video  (ii)8k video   (iii)2k video
data.loc[data["video_4K"]==True,["phone_name"]].count()

phone_name    801
dtype: int64

In [30]:
data.loc[data["video_8K"]==True,["phone_name"]].count()

phone_name    86
dtype: int64

In [62]:
data.loc[data["video_1080p"]==True,["phone_name"]].count()

phone_name    1503
dtype: int64