In [2]:
import numpy as np
import pandas as pd

In [3]:
data1=pd.read_csv(r"C:\Users\GOPI\Downloads\tips.csv",sep=",")

In [4]:
data1

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [79]:
#1. what is the total bill value
data1["total_bill"].sum()

4827.77

In [80]:
#2. What is the total tip value
data1["tip"].sum()

731.5799999999999

In [81]:
len(data1[data1["day"]=="Sun"]["day"])

76

In [82]:
len(data1[data1["day"]=="Sat"]["day"])

87

In [83]:
data1[data1["day"]=="Sun"].count()

total_bill    76
tip           76
sex           76
smoker        76
day           76
time          76
size          76
dtype: int64

In [84]:
#3. count how many sunday,saterday,thuresday,friday are there
sun=len(data1[data1["day"]=="Sun"]["day"])
sat=len(data1[data1["day"]=="Sat"]["day"])
fri=len(data1[data1["day"]=="Fri"]["day"])
thur=len(data1[data1["day"]=="Thur"]["day"])

In [85]:
sun

76

In [86]:
sat

87

In [87]:
fri

19

In [88]:
thur

62

In [89]:
#4. how many smokers are there
data1["smoker"].size

244

In [90]:
#5. what is the average tip given by famale and male

tip=data1["tip"]
data1["tip"].sum()/len(tip)

2.99827868852459

In [91]:
#6.how much amount spend by male and female
data1["tip"]+data1["total_bill"]

0      18.00
1      12.00
2      24.51
3      26.99
4      28.20
       ...
239    34.95
240    29.18
241    24.67
242    19.57
243    21.78
Length: 244, dtype: float64

In [92]:
#7. what is the max and min tip given
data1["tip"].max()

10.0

In [93]:
data1["tip"].min()

1.0

In [94]:
#8. how many male and female going for dinner and lunch
len(data1[data1["time"]=="Dinner"]["sex"])

176

In [95]:
#9. Find out the average size
data1["size"].sum()/len(size)

2.569672131147541

In [96]:
size=data1["size"]

In [97]:
#10. how many male smokers and female smokers are there
smoker=data1["smoker"]
sex=data1["sex"]

In [98]:
len(data1[data1["sex"]=="Male"]["sex"])

157

In [99]:
#data2

In [100]:
data2=pd.read_csv(r"C:\Users\GOPI\Downloads\train_extended.csv",sep=",")

In [101]:
#1. max and min length
data2["Length"].max()

7.58349125

In [102]:
data2["Length"].min()

0.0

In [103]:
#2. difference between max and min length
a=data2["Length"].min()

In [104]:
b=data2["Length"].max()

In [105]:
b-a

7.58349125

In [106]:
#3. column wise average
data2[0:1]

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,1.575,1.225,0.375,31.226974,12.303683,6.321938,9.63883,10

In [108]:
#4. find out the age whose height is greatherthan 0.4
data2[data2["Height"]>0.4]["Age"]

2         11
6         14
7         13
10        10
14        14
          ..
199976    14
199977    21
199984    11
199995    11
199998    11
Name: Age, Length: 55336, dtype: int64

In [109]:
#5. average height and weight whose age=10
data2[data2["Age"]==10]["Height"]/len(data2["Age"]==10)

0         0.000002
5         0.000002
9         0.000002
10        0.000002
28        0.000002
            ...
199955    0.000002
199957    0.000002
199974    0.000002
199987    0.000002
199989    0.000002
Name: Height, Length: 30803, dtype: float64

In [110]:
#6.total shell weight
data2["Shell Weight"].sum()

1326845.8295214002

In [111]:
#7. how many persons belong to each and every unique age
Age=data2["Age"]
data2[data2["Age"]==np.unique(Age)]["Age"]

ValueError: ('Lengths must match to compare', (200000,), (28,))

#8. difference between shucked weight and viscera weight
data2["Shucked Weight"]-data2["Viscera Weight"]

In [77]:
#8. difference between shucked weight and viscera weight 
data2["Shucked Weight"]-data2["Viscera Weight"]

0          5.981744
1          3.855532
2          4.110678
3          5.627376
4          2.990872
            ...
199995    10.021548
199996     1.828543
199997     2.919999
199998     5.329706
199999     9.837277
Length: 200000, dtype: float64

In [ ]:
#9. Average height of a person whose age between 14 & 19
data2[data2[(["Age"]<14) & (["Age"]>19)]]["Height"]

In [35]:
#10. Average weight if we include shueld weight ,viscera weight and shell weight.